<div>
    <ul>
      <li *ngFor="let c of comments">
        <header>
          <h1 >{{c?.nameSurname}}</h1>
          <img class="image" mat-card-image [src]="c.srcUser" alt="photo">
          <div>
            <button *ngIf="currentUser?.id === c.userId" (click)="editComment(c.id)" ng-class="edit"></button>
            <button *ngIf="currentUser?.id === c.userId" (click)="deleteComment(c.id)"></button>
          </div>
        </header>
        <img class="image" *ngIf="c.srcComment !== undefined" mat-card-image [src]="c.srcComment" alt="photo">
        <p>{{c?.text}}</p>
      </li>
    </ul>
</div>