<mat-toolbar class="flexSpaceBetween">
	<div>
		<a [routerLink]="['/home']">
			<mat-icon class="material-icons"  inline="true" >home</mat-icon>
		</a>
	</div>
	<span>
		<a mat-button [routerLink]="['/home']"> Categories and types </a>
		<button mat-button [matMenuTriggerFor]="addNew">Add new</button>
        <mat-menu #addNew="matMenu">
            <button mat-menu-item (click)="newCulturalOffer()">Add new cultural offer</button>
            <button mat-menu-item>Add new administrator</button>
          
        </mat-menu>

		<a [routerLink]="['/home']">
			<mat-icon class="material-icons"  inline="true">person</mat-icon>
		</a>
		<a mat-button [routerLink]="['/home']" > Sign out </a>
	</span>
	
</mat-toolbar>
