<mat-toolbar class="flexSpaceBetween">
	<div>
		<a id="home" [routerLink]="['/']">
			<mat-icon class="material-icons"  inline="true" >home</mat-icon>
		</a>
	</div>
	<span>
		<a id="news" mat-button [routerLink]="['/posts']"> News </a>
		<a id="categoryPage" mat-button [routerLink]="['/categoriesAndTypes']"> Categories and types </a>
		<button id="addNewBtn" class="addNew"  mat-button [matMenuTriggerFor]="addNew" > Add new</button>
        <mat-menu  #addNew="matMenu">
            <button id="addNewCOBtn" mat-menu-item (click)="newCulturalOffer()">Add new cultural offer</button>
            <button id="addNewAdminBtn" mat-menu-item (click)="newAdmin()">Add new administrator</button>
        </mat-menu>
		<a id="profile" [routerLink]="['/profileDetails']">
			<mat-icon class="material-icons"  inline="true">person</mat-icon>
		</a>
		<a mat-button (click)="signOut()" id="signOut"> Sign out </a>
	</span>
	
</mat-toolbar>
