<form class="reactiveForm" [formGroup]="typeForm" (ngSubmit)="addType()">
        <div class="example-container">
        <h2 mat-dialog-title>New type</h2>
        <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select id="catSelect" (valueChange)="onSelection($event)" required>
                <!-- ako padnu neki testovi to je mozda jer je ovde bilo 
                <mat-select id="catSelect" formControlName="categoryDTO" required>
                -->
                <mat-option  *ngFor="let cat of categories" id="cat{{cat.id}}" [value]="cat">
                    {{cat.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="typeForm.controls.categoryDTO.touched && typeForm.controls.categoryDTO.invalid">
                <span *ngIf="typeForm.controls.categoryDTO.errors?.required">This field is mandatory.</span>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input id="typeName" matInput formControlName="name">
            <mat-error *ngIf="typeForm.controls.name.touched && typeForm.controls.name.invalid">
                <span *ngIf="typeForm.controls.name.errors?.required">This field is mandatory.</span>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea id="typeDescription" matInput formControlName="description"></textarea>
            <mat-error *ngIf="typeForm.controls.description.touched && typeForm.controls.description.invalid">
                <span *ngIf="typeForm.controls.description.errors?.required">This field is mandatory.</span>
            </mat-error>
        </mat-form-field>
        <mat-dialog-actions align="end">
            <button mat-raised-button mat-dialog-close>Cancel</button>
            <button id="typeSubmit" type="submit" mat-raised-button color="success">Save</button>
        </mat-dialog-actions>
        </div>
</form>