<form class="reactiveForm" [formGroup]="categoryForm" (ngSubmit)="addCategory()">
    <div class="example-container">
    <h2 mat-dialog-title>New category</h2>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input id="catName" matInput formControlName="name" required>
        <mat-error *ngIf="categoryForm.controls.name.touched && categoryForm.controls.name.invalid">
            <span *ngIf="categoryForm.controls.name.errors?.required">This field is mandatory.</span>
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea id="catDescription" matInput formControlName="description" required></textarea>
        <mat-error *ngIf="categoryForm.controls.description.touched && categoryForm.controls.description.invalid">
            <span *ngIf="categoryForm.controls.description.errors?.required">This field is mandatory.</span>
        </mat-error>
    </mat-form-field>
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close>Cancel</button>
        <button id="catSubmit" type="submit" mat-raised-button color="success">Save</button>
    </mat-dialog-actions>
    </div>
</form>