<div>
  <mat-sidenav-container class="example-container">
    <mat-card class="example-card" *ngFor="let post of posts" fxLayout="column"> 
      <mat-card-header>
        <mat-card-title class="title">{{post.culturalOfferName}}</mat-card-title>
        <mat-card-subtitle>{{post.date | date}}</mat-card-subtitle>
      </mat-card-header>
      <span>
      
      <mat-card-content class="card-content" fxLayout="row" fxLayoutAlign="space-between">  
          <div>
            <span class="flex-item" fxFlex="75%">
              {{post.text}}
            </span>
          </div>
          <div class="flex-item" fxFlex="25%" >
            <img *ngIf="post.src != null" mat-card-image [src]="post.src" alt="">
          </div>
      </mat-card-content>
    </span>
    </mat-card>
  </mat-sidenav-container>
</div>
