<div>
    <table class="styled-table">
        <div style="float: left;">
            <tr><th>Categories:</th></tr>
            <tr><th>Types:</th></tr>
        </div>
        <div style="float: right;"  *ngFor="let cat of categories" >
            <tr>
                <th alt="category" matTooltip="{{cat.description}}">{{cat.name}} 
                    <button mat-icon-button><mat-icon class="material-icons"  inline="true" (click)="editCategory(cat.id)">edit</mat-icon></button>
                    <button mat-icon-button><mat-icon class="material-icons"  inline="true" (click)="confirmDialog(cat.id)">delete</mat-icon></button>
                </th>
            </tr>
            <tr  *ngFor="let type of res[cat.id]">
                <td alt="type" matTooltip="{{type.description}}">{{type.name}}  
                    <button mat-icon-button><mat-icon class="material-icons"  inline="true" (click)="editType(type.id)">edit</mat-icon></button>
                    <button mat-icon-button><mat-icon class="material-icons"  inline="true" (click)="confirmDialogT(type.id)">delete</mat-icon></button>
                </td>
            </tr>
        </div>
    
    </table>
    <div class="float-right">
        <button mat-button (click)="newCategory()">new category</button>
        <button mat-button (click)="newType()">new type</button>
    </div>
</div>

