<div >
    <app-image-slider [culturalOffer]="culturalOffer" [imageDTO]="images"></app-image-slider>
    <br>
    <div class="center">
        <span>
            <button mdbBtn type="button" style="background-color:#8dd4dd" mdbWavesEffect>Subscribe</button>
            <!-- <button mdbBtn type="button" style="background-color:#B0BEC5" mdbWavesEffect>Unsubscribe</button> -->
            Subscribers: {{subscribed}}
        </span> 
        <div class="edit">
            <p>Rating: {{culturalOffer?.averageRate}}</p>
            <app-star-rating *ngIf="role === 'ROLE_REGISTERED_USER'" (ratingClick)="rateClicked($event)"></app-star-rating>
        </div>
        <br>
        <br>
        <span *ngIf="role === 'ROLE_REGISTERED_USER'">
            <mat-form-field class="example-full-width" >
                <mat-label>Leave a comment</mat-label>
                <textarea matInput inline="true" [(ngModel)]="commentText"></textarea>
                <button matSuffix mat-button (click)="uploader.click()" matTooltip="Upload image" style="color:#576869" inline="true">
                    <mat-icon matSuffix>photo</mat-icon>
                </button>
             </mat-form-field> 
             <input hidden type="file" #uploader (change)="onFileSelect($event)">
            <mat-card-actions>    
                <button mat-button (click)="addNewComment()" matTooltip="Send" style="color:#576869" inline="true">
                    <mat-icon>send</mat-icon>
                </button>
            </mat-card-actions> 
            
        </span>
        <mat-card-actions *ngIf="role === 'ROLE_ADMIN'">
            <button mat-button color="success" (click)="addPost()">New post</button>
            <button mat-button (click)="edit()">Edit</button>
            <button mat-button color="warn" (click)="deleteCulturalOffer()">Delete</button>
        </mat-card-actions> 
        <br>
        <br>  
        <div>
           <app-comment-list [culturalOfferId]="id"></app-comment-list>
        </div>

    </div>
    
</div>       

   
