<div >
    <app-image-slider [culturalOffer]="culturalOffer" [imageDTO]="images"></app-image-slider>
    <br>
    <div class="center">
        <span>
            <button *ngIf="!checker && role==='ROLE_REGISTERED_USER'" id="subscribe" mdbBtn type="button" style="background-color:#8dd4dd" mdbWavesEffect (click)="subscribeUser()">Subscribe</button>
            <button *ngIf="checker && role==='ROLE_REGISTERED_USER'" id="unsubscribe" mdbBtn type="button" style="background-color:#B0BEC5" mdbWavesEffect (click)="unsubscribe()">Unsubscribe</button> 
            Subscribers:<span id="numberOfSubscribed">{{subscribed}}</span> 

        </span> 
        <div class="edit">
            <p>Rating: <span id ="averageRate">{{culturalOffer?.averageRate}}</span></p>
            <app-star-rating *ngIf="role === 'ROLE_REGISTERED_USER'" (ratingClick)="rateClicked($event)"></app-star-rating>
        </div>
        <br>
        <br>
        <span *ngIf="role === 'ROLE_REGISTERED_USER'">
            <mat-form-field class="example-full-width" >
                <mat-label>Leave a comment</mat-label>
                <textarea matInput id="newComment" inline="true" [(ngModel)]="commentText"></textarea>
                <button matSuffix mat-button (click)="uploader.click()" matTooltip="Upload image" style="color:#576869" inline="true">
                    <mat-icon matSuffix>photo</mat-icon>
                </button>
             </mat-form-field> 
             <input hidden type="file" id="uploadButton" #uploader (change)="onFileSelect($event)">
            <mat-card-actions>    
                <button mat-button (click)="addNewComment()" id="sendComment" matTooltip="Send" style="color:#576869" inline="true">
                    <mat-icon>send</mat-icon>
                </button>
            </mat-card-actions> 
            
        </span>
        <mat-card-actions *ngIf="role === 'ROLE_ADMIN'">
            <button mat-button id="addPost" color="success" (click)="addPost()">New post</button>
            <button mat-button id="editCulturalOffer" (click)="edit()">Edit</button>
            <button mat-button id="deleteCulturalOffer" color="warn" (click)="confirmDialog()">Delete</button>
        </mat-card-actions> 
        <br>
        <br>  
        <div>
           <app-comment-list [culturalOfferId]="id"></app-comment-list>
        </div>

    </div>
    
</div>       

   
