<div class="row">
    <p>Navigacioni bar</p>
    <div class="column">
        <img src="https://www.google.com/imgres?imgurl=http%3A%2F%2Fwww.zenasamja.me%2Fimages%2F0100%2Fmonalisa-v.jpg&imgrefurl=http%3A%2F%2Fwww.zenasamja.me%2Fzivotnistil%2F100%2F7-najslavnijih-umjetnickih-slika-svih-vremena&tbnid=1A7FGYJIRx3VQM&vet=12ahUKEwihxYjl4MbtAhVNrhoKHWtlB3sQMygCegUIARCxAQ..i&docid=FdvMNBmKp5Vm8M&w=322&h=500&q=slika&ved=2ahUKEwihxYjl4MbtAhVNrhoKHWtlB3sQMygCegUIARCxAQ"  width="100" height="100">
        <p> Naziv slike</p>
        <div class ="row">
            <div class="column">
                <button mat-button>Subscribe</button>
            </div>
            <div class="column">
                <p>1244 subscribers</p>
            </div>
        </div>
        <p>
            opis slike
        </p>
    </div>
    <div class="column">
        <div class ="row">
            <div class="column">
                <p>Rating 8,9</p>
            </div>
            <div class="column">
                <p>zvezdice</p>
            </div>
        </div>
        <div class ="row">
            <div class="column">
                <input type="text">
            </div>
            <div class="column">
                <button mat-button>Send</button>
            </div>
        </div>
        <p>Komentari</p>
    </div>
  </div>

