
<div  fxLayoutAlign="center" >
    
    <br>
    <table class="styled-table">
        <div class="left">
            <tr><th >Categories:</th><th><button mat-mini-fab color="primary" id="addCategory"><mat-icon class="material-icons"  inline="true" (click)="newCategory()">add</mat-icon></button></th></tr>
            <mat-divider></mat-divider>
            <tr><th >Types:</th>
            <th><button mat-mini-fab color="primary" id="addType"><mat-icon class="material-icons"  inline="true" (click)="newType()">add</mat-icon></button></th></tr>
        </div>
        <div class="right"  *ngFor="let cat of categories" >
            <tr>
                <th alt="category" matTooltip="{{cat.description}}" id="{{cat.name}}">{{cat.name}}</th>
                <th>
                    <button mat-icon-button id="editCategory{{cat.id}}" color="primary"><mat-icon class="material-icons"  inline="true" (click)="editCategory(cat.id)">edit</mat-icon></button>
                    <button mat-icon-button id="deleteCategory{{cat.id}}" color="warn"><mat-icon class="material-icons"  inline="true" (click)="confirmDialog(cat.id)">delete</mat-icon></button>
                </th>
            </tr>
            <mat-divider></mat-divider>
            <tr  *ngFor="let type of res[cat.id]">
                <td alt="type" matTooltip="{{type.description}}" id="{{type.description}}">{{type.name}}</td>
                <td>
                    <button mat-icon-button id="editType{{type.id}}" color="primary"><mat-icon class="material-icons"  inline="true" (click)="editType(type.id)">edit</mat-icon></button>
                    <button mat-icon-button id="deleteType{{type.id}}" color="warn"><mat-icon class="material-icons"  inline="true" (click)="confirmDialogT(type.id)">delete</mat-icon></button>
                
                </td>
            </tr>
        </div>
    
    </table>
    
</div>

