<form class="reactiveForm" [formGroup]="form" class="form">
    <div class="example-container">
        <mat-form-field appearance="fill">
            <mat-label>Old Password</mat-label>
            <input matInput placeholder="Old Password" [type]="hide ? 'password' : 'text'" formControlName="oldPassword" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="form.controls.oldPassword.touched && form.controls.oldPassword.invalid">
                <span *ngIf="form.controls.oldPassword.errors?.required">This field is mandatory.</span>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>New password</mat-label>
            <input matInput placeholder="New Password" [type]="hide ? 'password' : 'text'" formControlName="newPassword" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="(form.controls.newPassword.touched && form.controls.newPassword.invalid) || passwordError == true">
                <span *ngIf="form.controls.newPassword.errors?.required">This field is mandatory.</span>
                <span *ngIf="passwordError == true">Passwords are the same.</span>
            </mat-error>           
        </mat-form-field>
    <br>
    <mat-dialog-actions align="end">
        <button mat-raised-button (click)="cancel()">Cancel</button>
        <button type="submit" mat-raised-button color="success" (click)="saveChanges()">Save</button>
    </mat-dialog-actions>
    </div>
</form> 
