<form class="reactiveForm" [formGroup]="editForm" (ngSubmit)="editComment()">
    <mat-form-field class="example-full-width" >
        <mat-label>Edit comment</mat-label>
        <textarea matInput inline="true" id="editText" formControlName="text"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field>
        <ngx-mat-file-input placeholder="Upload image" id="editImageComment" (change)="onFileSelect($event)"></ngx-mat-file-input>
        <mat-icon matSuffix>folder</mat-icon>
    </mat-form-field>
    <br>
    <mat-card-actions>    
    <button mat-raised-button type="submit" id="editCommentButtonSave"  inline="true">save</button>
</mat-card-actions>

</form>