<form class="reactiveForm" [formGroup]="postForm" (ngSubmit)="addPost()">
    <div class="example-container">
    <h2 mat-dialog-title>New post</h2>
    <mat-form-field appearance="fill">
        <mat-label>News</mat-label>
        <textarea matInput id="textPost" formControlName="text" required></textarea>
        <mat-error *ngIf="postForm.controls.text.touched && postForm.controls.text.invalid">
            <span *ngIf="postForm.controls.text.errors?.required">This field is mandatory.</span>
        </mat-error>
    </mat-form-field>
    <br>
    <br>
    <mat-form-field>
        <ngx-mat-file-input placeholder="Choose image" (change)="onFileSelect($event)"></ngx-mat-file-input>
        <mat-icon matSuffix>folder</mat-icon>
    </mat-form-field>

    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close>Cancel</button>
        <button type="submit" id="submitAddingPost" mat-raised-button color="success" [disabled]="postForm.invalid">Save</button>
    </mat-dialog-actions>
    </div>
</form>
