<div >
  <mat-card fxLayout="column" fxLayoutAlign="center" class="mat-elevation-z4" >
   
    <mat-card-header style="justify-content: center; align-items: center;">
      <img mat-card-image *ngIf="user?.src !== undefined" [src]="user?.src" >
      <img class="image" *ngIf="user?.src === undefined" mat-card-image src="https://thumbs.dreamstime.com/b/default-avatar-profile-image-vector-social-media-user-icon-potrait-182347582.jpg" alt="photo">
    </mat-card-header>

    <mat-card-header style="justify-content: center; align-items: center;">
      <mat-card-title>{{user?.firstName}}  {{user?.lastName}}</mat-card-title>
      <mat-card-subtitle>{{user?.email}}</mat-card-subtitle>
    </mat-card-header>
   
    <mat-card-content align="center">
      <table align="center">
        <tr>
          <td class="first">First Name:</td>
          <td >{{user?.firstName}}</td>
        </tr>
        <tr>
          <td class="first">Last Name:</td>
          <td>{{user?.lastName}}</td>
        </tr>
        <tr>
          <td class="first">Email:</td>
          <td>{{user?.email}}</td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions align="end">
      <button id="changePasswordBtn" style="background-color:rgb(247, 241, 241)" mat-button (click)="editPassword()">
        Change password
        <span class="material-icons blue-colored-icon" >
          vpn_key
        </span>
      </button>
      <button id="editBtn" style="background-color:rgb(247, 241, 241)"  mat-button (click)="edit()"> 
        Edit
        <span class="material-icons blue-colored-icon" >
        edit
        </span>
      </button>

      <button id="deactivateBtn" (click)="confirmDialog()" style="background-color:rgb(247, 241, 241)" mat-button>
        Deactivate account
        <span class="material-icons blue-colored-icon" >
        delete
        </span>
      </button>

    </mat-card-actions>
  </mat-card>
</div>

